// Background Colors
.bg-primary-light{
    background-color: $primary-light !important;
}


// Links Colors
.link-primary-hover:hover{
    color: $primary !important;
}

// colors
.text-star{
    color: #FF701F !important;
}

// Box Shadows
.box-shadow-danger{
    box-shadow: 0px 15px 30px rgba(233, 16, 93, 0.18) !important;
}
.box-shadow-danger-soft{
    box-shadow: 0px 20px 80px rgba(233, 16, 93, 0.15) !important;
}
.box-shadow-primary{
    box-shadow: 0px 25px 100px rgba(180, 92, 249, 0.05) !important;
}


// Position
.position-inherit{
    position: inherit !important;
}


// Borders
.border-primary-soft{
    border-color: #F0DCFF !important;
}
.rounded-start-bottom-0{
    border-bottom-left-radius: 0 !important;
}

// Background Gradient
.gradient-primary{
    background: linear-gradient(90deg, #B75DFD 0%, rgba(183, 93, 253, 0) 83.75%) !important;
}


.customer-reviews-pagination {
    --swiper-pagination-bullet-size: 20px;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-horizontal-gap: 5px;

    @include media-breakpoint-up(xl){
        --swiper-pagination-bullet-size: 33px;
        --swiper-pagination-bullet-horizontal-gap: 10px;
    }
    

    .swiper-pagination-bullet{
        border: 2px solid $danger;
    }
    .swiper-pagination-bullet-active{
        --swiper-pagination-color: #{$danger};
    }
}

.offcanvas__dropdown-menu{
    display: none;

    &.active{
        display: block
    }
}


// SHAPES
.features-item__shape{
    @extend .h-auto, .w-100, .bottom-0, .d-none, .d-lg-block, .position-absolute;
    left: 20px; z-index: -1;
    max-width: calc(100% - 20px);
}

.features-item__content{
    @extend .ps-lg-7, .pe-xxl-7, .pt-5, .pb-7, .position-relative, .h-100;
}

.features-item__banner-left {
    @include media-breakpoint-up(xl){
        padding: 50px 20% 100px 70px;
    }
    @include media-breakpoint-between(lg, xl){
        padding: 50px 90px 90px 0;
    }
    @include media-breakpoint-down(lg){
        padding: 30px 50px 40px 0;
    }
}


