.announcement-top{
    padding: 13px 0px;
}

.header-area{

    .navbar-brand{
        max-width: 8rem;
        @include media-breakpoint-up(lg){
            max-width: 50%;
        }
    }

    .has-megamenu .dropdown-menu{
        top: calc(100% + 10px);
        transition: all 0.2s ease-in-out;
        display: block;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &.show{
            top: 100%;
            opacity: 1;
            visibility: visible;
            pointer-events: inherit;
        }
    }
}


/* Off Canvas */
.offcanvas{


    &-header{}

    .navbar-brand{
        max-width: 7rem;
    }

    &__link{
        color: $gray-600;
        @extend .text-decoration-none, .fs-xl, .py-2, .lh-xl, .d-flex, .align-items-center;

        &:hover, &.active{
            color: $primary;
        }
    }

} 